html {
  font-size: 16px;
}

body {
  background-color: white;
  color: #404040;
  font-family: "Close Your Eyes", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  padding-top: 100px;
}
